*{
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}
:root{
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --light-blue: #2f79ce;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --width: 50vw;
    --shadow: rgba(0, 0, 0, 0.16) 1px 2px 5px;
}
html{
    height: 100vh;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 100px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}
header{
    margin-bottom: 15px;
    font-size: 70px;
    font-weight: 800;
    text-shadow: 4px 4px var(--grey);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart{
    margin: var(--spacing-lg);
    cursor: pointer;
    transition-delay: 0.1ms;
    font-size: 24px;
    border-style: none;
    padding: var(--spacing-sm) var(--spacing-xl);
    background-color: var(--light-blue);
    color: white;
    border-radius: 8px;
}
.restart:hover{
    transform: scale(1.01);
}
.upperbar{
    width: 100%;
    flex: 1;
}
.mode-modifiers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.easy-mode, .hard-mode{
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-turn{
    display: flex;
    flex: 1;
}
.show-x, .show-y{
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin: var(--spacing-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameboard{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.gameboard div{
    height: 133px;
    border-style: solid;
    border-color: var(--light-blue);
}
.gameboard div:nth-child(-n + 3){
    border-top: none;
}
.gameboard div:nth-child(3n){
    border-right: none;
}
.gameboard div:nth-child(3n - 2){
    border-left: none;
}
.gameboard div:nth-child(n+7) {
    border-bottom: none;
}